section.dance-floor h2 {
  border-bottom: 3px solid #5D737E;
  color: #5D737E;
}

section.dance-floor {
  display: flex;
  flex: 2;
  flex-direction: column;
}

section.dance-floor .floor {
  display: flex;
  height: 100%;
}

.row {
  align-items: stretch;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.row .cell {
  background-color: white;
  border: 2px solid #5D737E;
  flex: 1;
  margin: 0.2rem;
}


.guests ul {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}

.guests li {
  background-color: #5D737E;
  color: white;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0.2rem;
  padding: 0.5rem;
}
