section.food-and-drink, section.playlist {
  background-color: #5D737E;
  flex: 1;
}

.food-and-drink ul, .playlist ol {
  margin: 1rem;
}

.food-and-drink li, .playlist li {
  background-color: #F0F7EE;
  color: black;
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: center;
}

.food-and-drink li span, .playlist li span {
  font-weight: bold;
}
